@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: inherit;
}

button {
    border: unset;
    outline: unset;
    background: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    color: #1a1a1a;
}

.container {}

.todo-section {
    grid-area: todo;
}

.savings-section {
    grid-area: savings;
}

.shopping-section {
    grid-area: shopping;
}

