@use "fonts" as *;
@use "variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'AppleSDGothicNeo', -apple-system, BlinkMacSystemFont, sans-serif;
    color: inherit;
}

button {
    border: unset;
    outline: unset;
    background: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    color: #1a1a1a;
}

.todo-section {
    grid-area: todo;
}

.savings-section {
    grid-area: savings;
}

.shopping-section {
    grid-area: shopping;
}

