@use "./../../assets/styles/variables" as *;

.todo-section {
    border-right: 1px solid $pointColor;

    .todo-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        input {
            flex: auto;
            border: unset;
            padding: 4px 12px;
            height: 100%;

            &:focus {
                outline: 0;
            }
        }

        button {
            width: 60px;
            padding: 4px 8px;
            background: $pointColor;
            color: #fff;
        }
    }

    .todo-list {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            padding: 4px 8px;

            label {
                display: flex;
                align-items: flex-start;
                position: relative;
                padding-left: 20px;

                input {
                    position: absolute;
                    top: 4px;
                    left: 0;
                }

                span {
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
    }

    .accordion {
        > li {
            border-top: 1px solid $pointColor;

            &:last-child {
                border-bottom: 1px solid $pointColor;
            }

            &.expanded {
                .accordion-header {
                    background: $pointColor;

                    span {
                        color: #fff;
                    }
                }
            }
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 100%;
            padding: 4px 8px;

            span {
                font-size: 14px;
            }

            &:hover {
                background: $hoverBgColor;
            }
        }
    }
}