.dock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    &-icon {
        position: relative;
        transition: transform .2s;

        &:hover {
            transform: translateY(-4px);

            .dock-tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-tooltip {
        position: absolute;
        top: -80%;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        white-space: nowrap;
        padding: 4px 6px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility .3s ;
        text-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 6px;  // 세모 크기
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
        }
    }
}