@use "./../../styles/variables" as *;

.home-section {
    position: relative;
    width: 100%;
    height: calc(100vh - $headerHeight);
    background-image: url("./../../assets/images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: $headerHeight;

    .icon-comp {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 6px;
        transition: opacity .2s;

        &.clicked,
        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &.dragging {
            opacity: .7;
            z-index: 10000;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 4px;
            opacity: 0;
        }

        > div {
            position: relative;
            z-index: 1;
        }

        span {
            word-break: break-word;
            max-width: 70px;
            user-select: none;
            text-align: center;
            text-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
            font-size: 12px;
            font-weight: 500;
            color: #ffffff;
        }
    }
}