.home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./../../assets/images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .icon-comp {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 2px;

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 4px;
            opacity: 0;
        }

        > div {
            position: relative;
            z-index: 1;
        }

        span {
            word-break: break-word;
            max-width: 70px;
            text-align: center;
            text-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
            font-size: 12px;
            font-weight: 500;
            color: #ffffff;
        }
    }
}