.home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("./../../assets/images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dock {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: white;
    backdrop-filter: blur(10px);
}