@use "./../../styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 24px;
    padding: 0 12px;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(181, 181, 181, 1) 100%);

    .logo {
        font-size: 12px;
        font-weight: 500;
    }

    .time {
        font-size: 12px;
    }
}